@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #f3f7f8;
  --background: #333e46;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #f3f7f8;
  --background: #333e46;
  }
}

body {
  color: var(--foreground);
  background: var(--background)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
